@{
    ViewBag.Title = "title";
    Layout = "_LayoutLogin";
}
<link rel="stylesheet" type="text/css" href="~/css/401.css">

<div class="page-wrap">
    <h1>401</h1>
    <h2>unauthorized</h2>
    <p>Well, what to say. Hmm? Sorry ...</p>
    <p><a asp-action="IndexLogin" asp-controller="Login">Login</a></p>
</div>
